# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
